<footer class="card-footer">
    <div class="f-info">
        <div class="f-socials">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="website-name"> &copy; AirBnb Private Limited</div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>